[submodule "ETH_DEMO/lib/forge-std"]
	path = ETH_DEMO/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ETH_DEMO/lib/openzeppelin-contracts"]
	path = ETH_DEMO/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
